.logo-container {
  width: 20vw;
}

.logo-container img {
  width: 100%;
}

.nav-list {
  list-style-type: none;
}

.nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.nav-item a.active {
  background-color: rgba(217, 198, 57, 1);
}
.navbar {
  background-color: rebeccapurple;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar-nav {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: -50%;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 50%;
}

.navbar-nav.show {
  left: 0;
}

.nav-link {
  color: white !important;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.nav-link:hover {
  background-color: #ffea00;
}
